<div class="container-fluid footer h-10">
    <div class="row">
        <!--name-->
        <div class=" d-flex-row col-lg-6">
        </div>
        <!--nav-->
        <div class="col-lg-4">
            <a routerLink="/home">Hem</a>
            <a routerLink="/services">Tjänster</a>
            <a routerLink="/about">Om Mig</a>
            <a routerLink="/contacts">Kontakt</a>
        </div>
        <!--socialmedia-->
        <div class="col-lg-2">
            <a href="https://www.facebook.com/profile.php?id=100081925020801" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/p/CipqlZMN8uz/?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
            <!--<a href="#" target="_blank"><i class="bi bi-youtube"></i></a>-->
        </div>
    </div>
</div>
