<section class="about">
    <div class="container">
        <div class="content">
            <img src="../../assets/MedvetenNar.jpg">

        <h1>MEDVETEN NÄRVARO</h1>
        <h2>Hitta lugn och fokus i vardagen</h2>

           <h3>Vad är mindfulness och medveten närvaro och vad är det som gör att det fungerar?</h3>

        <div class="conscious">   
           <div class="text1">  
              <p>
                Tyvärr har många en bild av att mindfulness är något flummigt och konstigt och tar avstånd ifrån det utan att ta reda på vad det verkligen handlar om. Den här myten vill jag slå hål på så att fler vågar ta chansen att utforska detta område.<br><br> 

                Forskningen visar att utövande av mindfulness bland annat ger minskad stress, ökad självinsikt, bättre koncentrationsförmåga, ökat fokus, bättre sömn och bättre uppmärksamhet. Det kan även minska ångest och nedstämdhet. Stresshormonerna minskar och vi förstärker den aktivitet i hjärnan som har med trygghet och lugn och ro att göra.<br><br>  
                Mindfulness är ett förhållningssätt som handlar om att kunna se på känslor, tankar och kroppsförnimmelser på ett betraktande sätt. Utan att värdera som bra eller dåligt. Det hjälper dig att inte dras med i känslostormar på samma sätt. Du behöver inte känna dig ”hotad” av stress och andra känslor utan får lättare att behålla lugnet, se klart och att bättre klara av pressen i privat och yrkeslivet. Det ger även en stunds vila från tankesnurret.

              </p>
            </div>

            <div class="text2">  
                <p>
                Med hjälp av korta meditationer och enkla reflektionsövningar övar vi upp denna förmåga.<br><br> 
                Koncentration och fokus är viktiga egenskaper och grunden när vi ska lära oss nya saker. Idag är det många som vill ha vår uppmärksamhet. Det är ett ständigt informationsflöde, aviseringar som plingar, telefonen ringer,  mail, SMS, chattar, Facebook, frågor googlas mm. Och kanske utmanas du även av impulsen att kolla eventuella svar på det du skickat eller publicerat. Vi är mer splittrade än någonsin.<br><br>  
                Därför är det av största vikt att träna upp vårt fokus och koncentration. Något som sorgligt nog håller på att gå förlorat hos många av våra barn och unga som lever större delen av sin vakna tid med telefoner, surfplattor och datorer.<br><br> 
                Att öva mindfulness och medveten närvaro ser jag som en av dom stora grundpelarna för  att kunna göra medvetna, kloka och hälsosamma val - ett liv i balans.
                </p>
            </div>
        </div>    

        <div class="meditation">
            <h4> Hur kan en meditation gå till?</h4>
            <p>
                Att meditera handlar inte om att du ska göra något eller prestera något. Det handlar om varande. Det är en upplevelse. En meditation kan till exempel innebära att du under några minuter blundar och upplever ditt andetag. Det handlar inte om att du ska styra andetaget utan att du upplever hur din kropp blir andad. Svårare än så behöver det inte vara. 

               <br><br> 
               När du flyttar ditt fokus och medvetande från huvudet ner i kroppen på detta vis kommer tankarna att avta. Om uppmärksamheten åker iväg ifrån andningen och istället hamnar i tankarna igen (vilket kommer hända gång på gång) så observerar du bara att det hände och sedan för du tillbaka uppmärksamheten med tålamod och utan dömande till andetaget igen. Varje gång du för tillbaka uppmärksamheten till andetaget stärks ditt medvetande och fokus. Man kan likna det vid att ditt fokus tränas upp på samma sätt som att du tränar dina muskler på gymmet. 
                 
            </p>
        </div>    
            <h5>Kurs är under uppbyggnad.</h5>
        </div>
    </div>    
</section>