/*@import url('https://unpkg.com/bootstrap/dist/css/bootstrap.min.css');*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

.alert-danger {
    background-color: red;
}

.alert {
    color: white;
}

.logga1 {
    display: flex;
    margin-left: 3%;
    animation: fadeIn 5s infinite alternate;
 }

 @keyframes fadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
  }

.form-group {
    margin-right: 25%;
    margin-left: 25%;
}

.btn {
    margin-top: 3%;
    margin-bottom: 10%;
}

h1 {
    margin-top: -4%;
    font-size: 30px;
    color: goldenrod;
    font-family: Palatino Linotype;
}

form {
    margin-top: 5%;
}

.contact {
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30%;
}

#status{
    width:90%;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgb(235, 40, 10);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status {
   0%{
    opacity: 1;
    pointer-events: all;
   } 
   90%{
    opacity: 1;
    pointer-events: all;
   }
   100%{
    opacity: 0;
    pointer-events: none;
   }
}