<section class="about">
    <div class="container">
        <div class="content">
            <img src="../../assets/andligper.jpg">

        <h1>PERSONLIG- OCH ANDLIG UTVECKLING</h1>

        <div class="andlig">   
           <div class="text1">  
              <p>
                Din attityd och hur du mår mentalt och själsligt kan påverka din hälsa i allra högsta grad. Det kan generera såväl hälsa som sjukdom.
                <br><br>
                Personlig- och andlig utveckling är en resa som går över tid och som ofta går hand i hand med varandra. Du kommer mer och mer i kontakt med den du verkligen är (bakom rädslor, trossystem och värderingar) och vad du verkligen vill i livet. 
                <br><br>
                Kurser / föreläsning är under uppbyggnad.
                </p>
            </div>

            <div class="personlig">
                <div class="text2">
                    <h2 style="text-align: center;">PERSONLIG UTVECKLING</h2>  
                    <p> 
                        Under vår uppväxt har vi blivit bemötta på olika sätt när vi exempelvis varit ledsna, arga eller rädda. Vissa blev accepterade och tryggt bemötta i sina känslor medan andra i stället fick höra sådant som ”sluta gråta”, ”var inte så arg”, ”sluta flamsa”, ”kan du vara tyst” och så vidare.<br><br> 
                        Eftersom vi är beroende av våra vårdnadshavare för vår överlevnad börjar vi anpassa oss. Vi lär oss hur vi bör vara och vad som förväntas av oss för att vi ska bli accepterade och omtyckta.<br><br>  
                        Någon som till exempel har fått kritik för att gråta tror att det är fel att uttrycka sorg och gör därför allt för att trycka undan denna känsla och uttryck. Utifrån det börjar vi sedan identifiera oss med dom här inlärda sätten att vara, tänka och känna och vi börjar skapa vår personlighet, en mask eller roll, det man brukar kalla för egot.<br><br> 
                        
                        Detta ställer ofta till med problem för oss senare i livet i form av överdriven självkritik, skam, skuld och kronisk inre stress. Det kan ge en självbild där vi kräver av oss själva att vi ständigt ska vara exempelvis duktiga…eller till och med bäst, framgångsrika, prestera resultat, snälla och roliga. Vi klankar ner på oss själva och försöker pressa oss att orka mer än vi klarar av. Eller alltid ställa upp för andra för att kunna känna oss som värdefulla människor.<br><br>  

                        Egot har hela tiden olika strategier för att inte behöva komma i kontakt med undantryckta känslor (rädslor) och upplevelser av att bli avvisad, förödmjukad, känna skuld och skam och så vidare.<br><br>  
                        Kanske har du lagt märke till att du bär på inre konflikter? Att du vill någonting men samtidigt känner rädsla och därför inte vågar satsa på det du vill? Ett exempel kan vara att du vill du ha en relation men du är samtidigt rädd för att bli avvisad och vågar därför inte uttrycka vad du känner. Eller att du vill stå upp för det du tror på men vill inte riskera att bli kritiserad.<br><br>  
                        Allt det här tillsammans blir väldigt stressande. Och när vi hamnar i svåra situationer kan vi må väldigt dåligt.<br><br> 
                        Är du redo att påbörja en förändring där detta inte längre tillåts begränsa dig i ditt liv? Rensa bort lager av känslor, tankar, värderingar, mönster och beteenden som inte leder dig dit du vill. Och i stället programmera in nya sanningar som tar dig i rätt riktning.<br><br> 
                        
                        Resan är inte alla gånger en dans på rosor men det är väl värt mödan när du börjar uppleva mer och mer frihet, glädje och harmoni i ditt liv. 
                    
                    </p>
                </div>   

                <div class="text4">
                    <h2 style="text-align: center;">ANDLIG UTVECKLING</h2>
                    <p>
                        Det är inte ovanligt att den andliga utvecklingsresan startas av en dramatisk händelse, livskris eller depression. Något som ställer hela tillvaron på sin spets, tex en skilsmässa, en nära anhörigs bortgång, en olycka, sjukdom eller något annat.<br><br>  

                        Kanske börjar du ifrågasätta ditt liv och meningen med livet. Du börjar ställa dom stora frågorna och då kommer ofta en längtan efter den andliga utvecklingen. En längtan efter att känna mer mening och mer djup i livet där du kommer i kontakt med existensen som du verkligen är bortom rädslor och begränsningar. En längtan att hitta din passion i livet (för du blir allra bäst på det du är mest intresserad av). Och en längtan efter att på något sätt bidra till andra människor, djur eller till planeten, i stort eller smått.<br><br> 
                        Det är inte ovanligt att det visar sig att dina innersta drömmar är det som du är mest rädd för.<br><br>  
                        
                        Det som du sett som dina största svagheter kan mycket väl visa sig vara dina största styrkor. Dina gåvor finns i dina utmaningar. När vi börjar gå mot våra drömmar sker ett stort andligt- och personligt växande.<br><br> 
                        Det är en intensiv process men man tar den i sin egen takt. Det är inget kvick-fix och det finns inga genvägar. Men har man väl börjat den här resan så vill man inte sluta. Processen fortsätter genom hela livet, man blir aldrig klar och så är det för alla. Livet vore ju trist om vi kom till en punkt där det inte längre går att utvecklas eller lära sig nytt, eller hur.<br><br> 
                        Identifierar du dig med dina tankar, dina känslor och din kropp?  Du är inte dina tankar, du är inte dina känslor och du är inte din kropp. Tankar och känslor är bara mekanismer i den mänskliga kroppen. Du är medvetenheten som betraktar dina tankar, känslor och kropp.<br><br>  

                        Medvetenheten eller existensen kallar man ibland för själen eller hjärtats röst. Själen har alla svar, är orädd och vet att allt är möjligt i ditt liv och vägleder dig om du lyssnar till den. Men denna röst är inte lika högljudd som egots röst som gör allt för att kortsiktigt skydda dig från utmanande känslor och situationer i stunden.<br><br>   

                        För att komma vidare i den andliga utvecklingen är därför meditation en viktig del. Det är i stillheten och tystnaden du kommer i kontakt med själen. Jag brukar likna det vid att man får tillgång till sin egen inre coach.
                    </p>
                </div>  
                </div>
            </div>   
        </div>
    </div>    
</section>