<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</head>
<div class="container">
    
    <div class="content">
        <img src="../../assets/woman.jpg" alt="Nature" class="responsive">
        <div class="d-flex justify-content-center">
        <h1>FREKVENSMEDICIN</h1>
        </div>
        <h2>"Future medicine will be the medicine of frequencies"</h2>
        <h3>ALBERT EINSTEIN</h3>

        <h4>VAD ÄR FREKVENSMEDICIN?</h4>

        <h5>Till skillnad från sjukvårdens undersökningar, mätmetoder och läkemedel där man arbetar med biokemi så arbetar frekvensmedicin i stället med biofysik.</h5>
        
        
        <p>QUEXs är ett kvantmedicinskt balanseringsinstrument som ger oss möjlighet att mäta, analysera och framför allt balansera vibrationer och
            svängningstal i dina organ och hela ditt elektromagnetiska fält, kropp, tanke och känsla. Utrustningen kan på detta sätt korrigera obalanser och ger kroppen möjlighet att påbörja självläkande processer.
            
            </p>
    </div>


    <div class="erbjudande">
        <h1 style="font-size:25px;">PASSA PÅ – UPPSTARTSTERBJUDANDE</h1> 
        <h2 style="font-size:20px;" >FREKVENSBALANSERING</h2>
         <ul type="circle">750 kr/session (ordinarie pris 1 000 kr/session)</ul>
         <ul type="circle">Paketpris 3 sessioner 1 800 kr</ul>
         <ul type="circle">Paketpris 5 sessioner 2 500 kr</ul>
         <ul type="circle">Paketpris 5 sessioner + 2 automatbalanseringar 3 100 kr</ul>
        <button class="btn btn-secondary" href="#">Boka här</button>
    </div> 

    <div class="flex justify-content-center">
        <div class="atom">  
        <div class="atom1">  
            <p>
                Allt är energi och allt levande har sin egen unika frekvens 
                som kan mätas. Vi utstrålar elektromagnetiska fält, 
                (energifrekvenser) som ett resultat av molekylära svängningar i 
                våra kroppar. 
                <br><br> 
                Forskning visar att medvetandet spelar en central roll i hur vår 
                värld utformas. Och bakom allt finns en livskraft, det vill säga 
                energi. Det är vår förbindelse med denna kraft som till slut avgör 
                om vi är friska eller sjuka och om vi mentalt och känslomässigt
                mår bra eller dåligt. Det är denna kraft som vi behöver utnyttja
                för att läka.
                <br><br> 
                Frekvensutrustningen läser av och upptäcker blockeringar i 
                energiflödet (stressfaktorer) och sänder tillbaka balanserande och 
                neutraliserande frekvenser. 

            </p>
        </div>
    
        <div>
            <img src="../../assets/atom.jpg" class="atomquex">
        </div> 
        </div> 
    </div>

    
    <div class="d-flex linda">
            <div class="dator">
                <div>
                    <img src="../../assets/dator.jpg" width="220" height="220" class="lindadator">
                </div>
            </div>   
        
            <div class=" quextext">  
                <p>
                    QUEXs behandlar alltså inte sjukdomar eller diagnoser. 
                    I stället hjälper utrustningen till att rätta till och förebygga 
                    obalanser och stresstillstånd.<br><br> 

                    Exempelvis så har en frisk levercell en viss frekvens medan en 
                    levercell i obalans har en annan frekvens. Detta gäller även 
                    virus, bakterier, hormoner, känslor och så vidare.<br><br>

                    I många fall symtomdämpar man med läkemedel medan själva 
                    sjukdomen fortsätter att utvecklas. Genom att i stället balansera 
                    och läka det som i grunden orsakar problemet så försvinner i 
                    många fall symtomet. 
                </p>
            </div>
        </div> 
    

    <div>
        <div class="lamin">  
        <div class="quex">  
            <p>
                Jag använder instrumentet för att skanna av frekvenserna i hela                
                din kropp.<br><br> 
                
                Under testerna blir du uppkopplad till utrustningen genom band 
                med elektroder runt panna, hand- och fotleder. Utrustningen mäter
                hjärnvågor, hjärtslag, andning, vävnadsresistens med mera och 
                stämmer sedan av den informationen som din kropp har svarat med 
                och jämför med dom 11 000 referensvärden som finns i databasen. 
                <br><br> 
                Här kan vi se vad som stressar din kropp mest just nu. Vid 
                obalanser kan utrustningen sedan sända tillbaka frekvenser 
                som korrigerar obalanser och ger kroppen möjlighet att påbörja 
                självläkande processer. 
            </p>
        </div>
    
        <div>
            <img src="../../assets/lamin.jpg" width="400" height="400" class="laminquex">
        </div> 
        </div> 
    </div>
<div>
<div class="upplagget">
    <div class="upplagge">
    <h1>Upplägget för balansering är individanpassat men går oftast till enligt följande:</h1>

    <h2>Session 1:</h2>
    <p> Vi går tillsammans igenom ett frågeformulär och gör efter det en komplett skanning. 
        Vi går igenom resultatet och tar ett gemensamt beslut om och hur vi kan arbeta vidare tillsammans. 
        Sessionen pågår totalt 2 till 2,5 timmar.           
    </p>

    <h2>Session 2 och följande</h2>

    <p>Här ligger fokus på att balansera dina besvär men även på att balansera 
        din kropp som helhet samt en återkoppling av resultaten. Sessionen pågår totalt ca 1,5 timme.
    <br><br>
        Balansering kan utföras på plats hos mig eller på distans.
    </p>
</div>  
</div>


<div class="d-flex justify-content-center upplagget1">
    <p>Det är av största vikt att du själv är villig att påbörja ditt förändringsarbete med beteende- eller livsstilsförändringar samt eventuellt inre arbete för att hjälpa kroppen i denna process och för att förhindra att problemen kommer tillbaka. Kanske behöver du kompletterande näringstillskott, dricka mera vatten eller träna upp en bättre andningsteknik. Även små förändringar kan i längden ge stora positiva resultat.  Jag finns här för att stötta, vägleda och inspirera i detta arbete. 
        <br><br>
        Stress och känslomässiga besvär är områden där man i många fall ser relativt snabba förändringar, tex ökad förmåga till självreflektion och att förstå sig själv på ett djupare plan, hantera negativa tankar, lösa upp känsloblockeringar, ökad avslappning samt ökat välbefinnande. Men oavsett vilket problem vi arbetar med så påminner vi kroppens alla system (hjärt- och kärl, lymfsystem, endokrina, nervsystemet med mera) eftersom kroppen fungerar som en helhet. 
    </p>
</div>

<div class="d-flex justify-content-center sverige">
    <p>
        I Sverige har vi vissa restriktioner att förhålla oss till. Jag tar därför inte emot personer som har diagnostiserade allvarliga hjärtproblem, blodförtunnande mediciner, pacemaker, gravida eller personer som tar fler än 5 receptbelagda läkemedel. Jag utför inte heller balanseringar på barn under 8 år. 
    </p>
</div>
</div>

<h2 style="text-align: center; font-size: 30px;">Videos</h2>

<div class="d-flex justify-content-evenly videos">
        <div class="justify-content-center">
            <h4>Hur fungerar kvantum biofeedback?</h4>
            <video src="../assets/videos/howdoes.mp4" type="video/mp4" controls controlslist="nodownload">
            </video>
        </div>
    
<p></p>
        <div>
            <h4>Vad är biofeedback?</h4>
            <video src="../assets/videos/whatis.mp4" type="video/mp4" controls controlslist="nodownload">
            </video>
        </div>

<p></p>
        <div>
            <h4>Vilka sorters av biofeedback finns det?</h4>
            <video src="../assets/videos/whattypes.mp4" type="video/mp4" controls controlslist="nodownload">
            </video>
            <p></p>
        </div>
</div>
</div>
</html>