* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    flex-direction: column;
}

.responsive {
    width: 100%;
    height: auto; 
}

.content h1
{
    font-size: 5vw;
    color: goldenrod;
    margin-top: -30%;
    margin-bottom: -1%;
    font-weight: bold;
    flex-direction: row;
    font-family: Georgia;
}


.content h2
{
    display: flex;
    color: goldenrod;
    font-size: 30px;
    margin-top: -18%;
    margin-bottom: 2%;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    font-family: Palatino Linotype;
    /** 12vmin**/
}

.content h3
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2vw;
    margin-top: 2%;
    font-weight: bold;
    color: goldenrod;
    font-family: Palatino Linotype;
}

.content h4 
{
    display: flex;
    color: black;
    justify-content: center;
    font-weight: bold;
    margin-top: 15%;
}

.content h5 
{
    display: flex;
    font-size: 14px;
    margin-top: -5%;
    font-weight: bold;
    justify-content: center;
    font-family: Arial;
}

.content p {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 10%;
    font-family: Arial;
}

.content
{
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Georgia;
}

.erbjudande {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    font-size: 17px;
    padding: 1%;
    background-color: rgb(249, 244, 244);
    font-family: Georgia;
}

.erbjudande h1 {
    font-size: 18px;
    font-weight: bold;
}

.erbjudande h2 {
    font-size: 20px;
}

.atom {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    justify-content: space-around;
}

.atom1 {
    width: 70%;
    margin-left: 5%;
    margin-right: 3%;
    padding: 2%;
    margin-top: -3%;
    font-family: Arial;
    border-radius: 15px;
    background-color: rgb(183, 209, 183);
    justify-content: center;
}

.atom .atomquex {
   padding: 5%;
   width: 60%;
   height: auto; 
   margin-top: -5%;
   margin-left: 3%;
   border-radius: 15px;
   background-color:rgb(249, 244, 244);
}

.lindadator {
   padding: 5%;
   height: auto;
   width: 60%; 
   margin-top: -6%;
   margin-left: 20%;
   border-radius: 15px;
   background-color:rgb(249, 244, 244);
}

.linda .quextext {
    padding: 2%;
    width: 70%;
    margin-top: -2%;
    margin-left: -3%;
    margin-right: 15%;
    margin-bottom: 10%;
    border-radius: 15px;
    background-color: rgb(183, 209, 183);
}

.lamin {
    margin-top: -3%;
    display: flex;
    margin-bottom: 10%;
    font-family: Arial;
}

.lamin .laminquex {
    padding: 5%;
    margin-left: -27%;
    max-width: 100%;
    height: auto;
    padding-left: 1%;
    border-radius: 15px;
    background-color:rgb(249, 244, 244);
}

.lamin .quex {
    padding: 1%;
    margin-left: 5%;
    margin-right: 10%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(183, 209, 183);   
}

.upplagget {
    margin-top: 25%;
    max-width: 100%;
    height: auto;
}

.upplagget .upplagg {
    background-color: black;
}

.upplagget h1 {
    margin-top: -30%;
    margin-left: 5%;
    font-size: 20px;
}

.upplagget h2 {
    display: flex;
    margin-left: 5%;
    font-size: 16px;
}

.upplagget p {
    display: flex;
    justify-content: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -2%;
}

.upplagget1 {
    display: fixed;
    justify-content: row;
    margin-left: 5%;
    margin-top: -2%;
    max-width: 100%;
}

.upplagget1 p {
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
}

.sverige p {
    display: flex;
    justify-content: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

video {
    margin-top: -5%;
    width: 60%;
    margin-bottom: 30%;   
}

.videos {
    margin-top: -5%;
    padding-left: 10%;
    background-color: black;
    margin-bottom: 10%;   
}

h4 {
    margin-top: 5%;
    font-size: 18px;;
    color: white;
    margin-bottom: 10%;
}

