<!DOCTYPE html>
<html>
<section>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img src="../../assets/5L.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" routerLink="/home">Hem</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" routerLink="/services">Tjänster</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tjänster
          </a>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/frequencymedicine">Frekvensmedicin</a></li>
            <li><a class="dropdown-item" routerLink="/personalspiritual">Personlig- och andlig utveckling</a></li>
            <li><a class="dropdown-item" routerLink="/consciouspresence">Medveten närvaro</a></li>
            <li><a class="dropdown-item" routerLink="/naturaldiet">Naturlig kost</a></li>
            <li><a class="dropdown-item" routerLink="/dietarysupplements">Kosttillskott</a></li>
    
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="giftcard">Presentkort</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">Aktuellt </a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">Om Mig </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contacts">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
</section>
<app-footer></app-footer>
</html>