<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="container">
        <h2 class="text-center">Alla Tjänster</h2>
        <div class="row mt-6">
            <div class="col-lg-4" *ngFor="let se of services">
                <div class="box shadow-sm">
                    <img src="{{se.image}}" width="100%" height="50%">
                     <h1 class="mt-2">{{se.name}}</h1>
                     <p class="mt-2">{{se.description}}</p>
                    <a href="{{se.link}}">     
                        <button type="submit" class="flex-sm-row btn btn-secondary" >Läs mer</button> 
                    </a>      
                </div>
            </div>
        </div>
    </div>
</body>
</html>