.container {
    display: flex;
    flex-direction: column;
    
}

h1 {
    margin-top: -35%;
    padding-left: 10%;
    color:black;
    font-size: 3.5vw;
    font-weight: bold;
    font-family: Georgia;
}

h2 {
    margin-top: 10%;
    padding-left: 10%;
    font-size: 25px;
    font-family: Georgia;
}

.responsiv
{
    display: flex;
    background-repeat: no-repeat;
    width: 100%;    
}

.andlig {
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    margin-top: 25%;
    margin-bottom: 15%;
}

.giftcard {
    min-width: 50%;
    height: auto;
    margin-top: 1%;
}

.andlig .text2 {
    justify-content: row;
    margin-left: 10%;
}

.btn {
    background-color: goldenrod;
}