<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="about">
      <div class="container">
          <div class="content">
    <img src="../../assets/hemblad.jpg" class="responsive">
    <div class="container">

        <div class="valkommen">
            <div class=".col-3 .col-sm-5">
            <h1>Varmt välkommen till Conscious Living</h1> 
             <p>
              Jag vänder mig till dig som är intresserad av en helhetssyn av din hälsa och vill få förståelse för vad din kropp och själ behöver. <br><br>    
              När vi söker svar om vår hälsa, vem vi är och meningen med livet spelar kvantfysiken en stor roll. Med det kvantfysiska balanseringsinstrumentet QUEXs får vi viktig information om din kropp, tanke,  känsla och hela ditt energisystem.
             </p>
            </div>
        </div>
        <div class="konsultation">
            <h1>FRI KONSULTATION</h1> 
             <p>
                Boka ett första 20 minuters samtal med mig kostnadsfritt. Oavsett om vi inleder ett samarbete eller inte kan vårt samtal leda till ditt nästa steg framåt.    
            </p>
            <a href="/contacts">
            <button class="btn btn-secondary">Boka</button>
          </a>
        </div> 

        <div class="d-flex justify-content-center investering">
            <p>
               Det bästa investering du kan göra är i din egen hälsa och välmående!    
           </p>
       </div>
            <div class="justify-content-center bild">
              <div class="ommigbild">
                <img src="../../assets/Lindaansikte.jpeg" height="200" width="200">
              <div class="ommig">
              <div class="justify-content-center"> 
              <h1>Om mig</h1> 
                  <p>
                    Mitt namn är Linda  Garneij. Jag har en stor passion för naturlig hälsa, hur vi människor fungerar, ända ner till energinivå och för personlig- och andlig utveckling. 

                    Jag vill hjälpa dig att öka kunskapen om hur du själv kan påverka din hälsa och mående, stötta och inspirera dej i förändringsarbetet samt hjälpa din kropp och själ att åter komma i balans med stöd av det kvantmedicinska balanseringsinstrumentet QUEXs. Kroppen är i många fall självläkande när den får dom rätta förutsättningarna. 
                    Vi tittar på hur allt hänger ihop och du får med dig kunskaper för resten av livet. När vi söker svar om vår hälsa, vem vi är och meningen med livet spelar kvantfysiken en stor roll. Tillsammans startar vi läkningsarbetet av kroppen och sinnet på ett grundligt, naturligt och sunt sätt utan syntetiska läkemedel. 

                    <br><br>Du är värd att må bra!
                  </p>
                <a href="/about">
              <button class="btn btn-dark">Läs mer</button>
            </a>
          </div>
        </div>  
        </div>
    </div>
    </div>

    <div class="erbjuds"> 
        <p>
          Går du omkring och mår lite halvdant fysiskt eller psykiskt? Olika krämpor som börjat uppenbara sig. Känslomässiga upp- och nedgångar.  Har du stressiga dagar med jobb, familj, relationer, aktiviteter, hushållssysslor med mera? Kanske har du det där som sägs göra oss lyckliga (familj, fin bostad, fin bil, bra jobb och så vidare) men livet skaver ändå? Ibland funderar du över meningen med livet.
Livet går ofta på autopilot och din egen hälsa och välmående har kanske inte fått högsta prioritet. 

Känner du igen dig i något av detta? 
<h4>Känner du igen dig i något av detta?</h4>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">LÄS MER</button>
   </div> 

    <h2>Vad tycker några av Conscious Livings kunder?</h2>

    <div class="kunder">
      <div class="kristina">
        <h1>Kristina</h1>
            <p>
            ”När man träffar Linda innfinner sig känslan av att vara i goda händer. Genuint och proffesionellt bemötande. Värme, 
            omtanke och noggrannhet i sitt arbete med QUEX upplevde jag under sessionerna för att balansera min kropp. Inflammationer 
            och smärta i leder reducerades avsevärt. Mycket bra samarbete och trygg uppföljning. Rekommenderas varmt!”
            </p> 
    </div>   

    <div class="sara">
      <h1>Sara</h1>   
        <p>
          ”Har efter två frekvensbalanseringar med Linda fått så mycket hjälp och klarhet i mina bekymmer. Både på  fysisk nivå i kroppen 
          men också på en djupare nivå, hur det har uppstått och hur jag själv i mitt beteende låtit det stagnera. Att få en sån enorm 
          klarhet och helhetsbild är det absolut bästa jag varit med om. Har tidigare testat många olika behandlingsformer och sessioner 
          för att få svar på orsak till upprepat ryggont, sködkörtel mm. Känner mig mycket mer energifylld och att jag äntligen läker på 
          en djupare nivå. Ett fantastiskt verktyg som tillsammans med Linda ger så djupgående resultat. Så tacksam.”                                                                                                       
        </p>
  </div>
</div> 
    </div>
      </div>
    </section>
  </body>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hälsan är det viktigaste vi har.  Idag är det väldigt ovanligt att människor är symtomfria eller lever stressfria liv. Dessa problem normaliseras ofta på grund av att de är så vanliga. Men detta är inte naturligt utan tyder på obalans.<br><br>
          Är du redo att göra en förändring, börja prioritera dig själv och ta reda på hur bra du kan må? Redo att ta fullt ansvar för ditt liv, din hälsa, och din lycka? Mitt mål är att möta dig där du är idag och stötta och inspirera dig på vägen till en naturlig och hållbar livsstil i god balans både kroppsligt, själsligt och mentalt.                 
            <br><br>         Jag vill hjälpa dig att hitta dina obalanser och utforska grundorsaken till dina problem och ditt mående. Med hjälp av det kvantmedicinska balanseringsinstrumentet QUEXs får vi möjlighet att mäta, analysera och balansera vibrationer och svängningstal i dina organ, kropp, tanke, känsla och hela ditt elektromagnetiska fält. Vi triggar igång kroppens självläkande processer samt rättar till och förebygger obalanser och stresstillstånd. 80% av alla sjukdomar har kopplingar till någon form av fysisk eller psykisk stress.
            <br><br>Jag har min mottaging i Sundsvall men dom flesta av mina tjänster kan även utföras på distans.
            <br><br>
            Låter det intressant?
            <br><br> 
        </div>
        <div class="modal-footer">
          <a href="/contacts">
            <button class="btn btn-secondary">Kontakta mig</button>
          </a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
        </div>
      </div>
    </div>
  </div>
</html>